@font-face {
  font-family: "burgess";
  src: url("../src/Assets/BurgessProRegular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 62.5%;
}

:root {
  --secondary-font: "burgess";
  --crimson: rgb(250, 1, 54);
  --orange: rgb(245, 132, 77);
  --yellow: rgb(218, 194, 57);
  --neon-green: rgb(5, 201, 130);
  --deep-blue: rgb(0, 48, 177);
  --deep-purple: rgb(145, 13, 242);
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

#header h1 {
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(
    to right,
    var(--crimson),
    var(--yellow),
    var(--orange),
    var(--neon-green),
    var(--deep-blue),
    var(--deep-purple)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: textGradientAnimation 3s infinite ease-in;
}
figcaption {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 2rem;
}
h1 {
  font-family: var(--secondary-font);
}
@keyframes textGradientAnimation {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

nav {
  height: 6vh;
  background-color: hsl(70, 2%, 13%);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
