@font-face {
  font-family: "burgess";
  src: url("../src/Assets/BurgessProRegular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 62.5%;
}

:root {
  --secondary-font: "burgess";
  --crimson: rgb(250, 1, 54);
  --orange: rgb(245, 132, 77);
  --yellow: rgb(218, 194, 57);
  --neon-green: rgb(5, 201, 130);
  --deep-blue: rgb(0, 48, 177);
  --deep-purple: rgb(145, 13, 242);
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  background: url("../src/Assets/yellow-pencil.jpg");
  background-size: 100% 100%;
  filter: brightness(1);
  position: relative;
}

header {
  /* background-color: red; */
  height: 20rem;
  /* background-color: red; */
  /* position: absolute;
  top: 10%;
  left: 0; */
}

#header {
  /* background-size: 100% 100%; */
  /* height: 50vh;
  width: 80vw;  */
  /* background: white; */
  /* background-color: white; */
  /* transform: translateY(-6rem); */
  /* background-color: rgb(24, 25, 55); */
  padding: 0.5rem;
}

header #header h1 {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 2px;

  /* ? rainbow animated text */
  /* background-image: linear-gradient(
    to right,
    var(--crimson),
    var(--yellow),
    var(--orange),
    var(--deep-blue),
    var(--deep-purple)
  ); */
  /* animation: textGradientAnimation 3s infinite ease-in; */
  /* background-color: rgb(18, 62, 80); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  filter: brightness(1);
  color: white;
}
figcaption {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: white;
}
h1 {
  font-family: var(--secondary-font);
}
@keyframes textGradientAnimation {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

nav {
  height: 6vh;
  background-color: hsl(70, 2%, 13%);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1.5rem var(--crimson),
    inset 0 0 1.5rem var(--crimson), 0 0 3rem var(--crimson); */
  background: transparent;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
