@font-face {
  font-family: "curtom";
  src: url("../Assets/BurgessProRegular.ttf");
}
:root {
  /* Base font size */
  font-size: 62.5%;

  /* Set neon color */
  --neon-text-color: #09f;
  --neon-border-color: rgb(250, 1, 54);
}

#boardingSign {
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  animation: flicker 1.5s infinite alternate;
}

#boardingSign::-moz-selection {
  background-color: var(--neon-border-color);
  color: red;
}

#boardingSign::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#boardingSign:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0.2rem 0.2rem 1rem #fff, 0 0 2rem red;

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 1rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color),
      0 0 3rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
